<div class="row">

<!--<div>
  div class="ui-g-12"><p-checkbox name="group1" value="New York" label="New York" [(ngModel)]="selectedCities"></p-checkbox></div>
</div>-->

  <div class="col-sm-12">
    <button (click)="goBack()" class="btn btn-default"> 返回</button>
    <br>
    <div [ngClass]="{hidden:!hidden}">没有duty_menu数据</div>
    <br>
    <button class="btn btn-default" (click)="addRight()">添加duty_menu数据</button>

    <table class="table table-condensed" [ngClass]="{hidden: hidden}">
      <thead>
      <tr>
        <th>dutyMenuId</th>
        <th>dutyId</th>
        <th>menuName</th>
        <th>menuId</th>
        <!--<th>parentId</th>-->
        <th>action</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let role of roles">
        <td>{{role.dutyMenuId}}</td>
        <td>{{role.dutyId}}</td>
        <td>{{role.menuName}}</td>
        <td>{{role.menuId}}</td>
        <!--<td>{{role.parentId}}</td>-->
        <td>
          <label *ngFor="let action of role.action">
            {{action}}
            <span *ngIf="action == ''">没有action</span>
            <!--{{action.text}}-->
            <!--<span *ngIf="action.value == 46">新建</span>
            <span *ngIf="action.value == 47">删除</span>
            <span *ngIf="action.value == 48">编辑</span>-->
            <!--<span *ng-else></span>-->
          <!--<input type="checkbox"
            [checked]="action.checked" [value]="action.value"/>
           <span> {{action.text}}</span>-->
           <!--<span>{{action.text}}</span>-->
          </label>
        </td>
        <td>
           <a href="javascript:void(0);"  (click)="delItem(role.dutyMenuId)">删除</a>
          <a href="javascript:void(0);"  (click)="updateRight(role.dutyMenuId)">编辑</a>
        </td>
      </tr>

      </tbody>

    </table>

  </div>
</div>




