<div class="row">
  <div class="col-sm-12">

    <button class="btn btn-default" (click)="goToEdit()">添加菜单管理</button>

    <table class="table table-condensed">
      <thead>
      <tr>
        <th>id</th>
        <th>sn</th>
        <th>name</th>
        <th>url</th>
        <th>parent_id</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let menu of menuList">
        <td>{{menu.id}}</td>
        <td>{{menu.sn}}</td>
        <td>{{menu.name}}</td>
        <td>
          <!--{{menu.url}}-->
          <a routerLink='/workentry/{{menu.url}}'>{{menu.url}}</a>
        </td>
        <td>{{menu.parentId}}</td>
        <td>
          <a href="javascript:void(0);"  (click)="update(menu.id)">修改</a>
          <a href="javascript:void(0);"  (click)="delItem(menu.id)">删除</a>
        </td>
      </tr>

      </tbody>

    </table>

  </div>
</div>


