<div class="edit">
  <div class="edit-text">{{title}}</div>

  <form #companyForm="ngForm" (ngSubmit)="submitForm()">
    name: <input type="text" value="{{company.name}}" [(ngModel)]="company.name" name="name"> <br>
    fullName:<input type="text" value="{{company.full_name}}" [(ngModel)]="company.full_name" name="full_name">  <br>
    type:<input type="text" value="{{company.type}}" [(ngModel)]="company.type" name="type">  <br>
    code:<input type="text" value="{{company.code}}" [(ngModel)]="company.code" name="code">  <br>
    contacts:<input type="text" value="{{company.contacts}}" [(ngModel)]="company.contacts" name="contacts">  <br>
    tel: <input type="text" value="{{company.tel}}" [(ngModel)]="company.tel" name="tel">  <br>
    postcode: <input type="text" value="{{company.postcode}}" [(ngModel)]="company.postcode" name="postcode">  <br>
    address: <input type="text" value="{{company.address}}" [(ngModel)]="company.address" name="address">  <br>
    <button class="btn btn-default" type="submit">保存</button>
  </form>

</div>
