<form class="form-inline" role="form">

  <div class="form-group">
    <input type="text" placeholder="请输入手机号">
  </div>

  <div class="form-group">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        注册平台
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" >
        <li><a href="#">页面</a></li>
        <li><a href="#">Android</a></li>
        <li><a href="#">IOS</a></li>
        <li><a href="#">未知</a></li>
      </ul>
    </div>
  </div>

  <div class="form-group">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button"   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        认证状态
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" >
        <li><a href="#">未提交</a></li>
        <li><a href="#">审核中</a></li>
        <li><a href="#">认证成功</a></li>
        <li><a href="#">认证失败</a></li>
      </ul>
    </div>
  </div>

  <div class="form-group">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button"   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        退款状态
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" >
        <li><a href="#">待退款</a></li>
        <li><a href="#">已退款</a></li>
      </ul>
    </div>
  </div>

  <div class="form-group">
    <div id="startTime" class="input-group date" >
      <input type="text" class="form-control"   placeholder="开始时间"/>
      <span class="input-group-addon">
                   <i class="glyphicon glyphicon-th-list"></i>
                </span>
    </div>
  </div>

  <div class="form-group">
    <div id="endTime" class="input-group date" >
      <input type="text" class="form-control"  placeholder="结束时间"/>
      <span class="input-group-addon">
                   <i class="glyphicon glyphicon-th-list"></i>
                </span>
    </div>
  </div>
  <!-- (click)=""   search() 方法 -->
  <button type="button" class="btn btn-info search-button" >
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>搜索
  </button>
</form>
