.green{
  color: green;
}
.red{
  color: red;
}
ul.pagination>li>span,ul.pagination>li>a,ul.pagination>li.active>a,ul.pager>li>span{
  cursor: pointer;
}
ul.pagination{
  width: 100% ;
}
.input-page-div>input{
  width:5em;
  height:1.8em;
  margin:0.4em 0.2em 0.2em 0.2em;
  text-align: center;
}
.input-page-div>.input-btn-xs{
  margin-left:1em;
  font-size: 1em;
  width:3em;
  background-color: #337ab7;
  color:#fff;
}
.input-page-div{
  display: inline-block;
  margin-left:1em;
}
/*自定义样式*/
/*分页*/
.mypagenav{
  margin-top: 40px;
  float: right;
}
.mypagenav>li{
  float:left;
  margin-left: 1em;
  list-style: none;
  width:1.1em;
}
.mypagenav>li.active>a{
  color:#f00;
}
.mypagenav>li>span{
  cursor:pointer;
}
.mypagenav>li.disabled>span{
  cursor:default;
  color:#999;
}
#pagination{
  width: 230%;
}

